@{
    ViewData["Title"] = "Home Page";
}






<div class="text-center py-5 px-5 main" style="background-color: #181a1b">
    <h2 class="display-4">unknown motives</h2>

    <div class="py-5">
        @*<h1>LAG</h1>*@
        <div class="example-one" data-text="LAG">LAG</div>
        <p class="small-caps newalbum">new album out now</p>
    </div>

    <span class="mx-3">
        <a href="https://open.spotify.com/artist/2EbDKTgtVnUN0vJZBNkoCt?si=-ivsRsodReq6mNE39KKkUQ"><i class="fab fa-spotify" aria-hidden="true"></i> spotify</a>
    </span>
    <span class="mx-3">
        <a href="https://www.soundcloud.com"><i class="fab fa-soundcloud" aria-hidden="true"></i> soundcloud</a>
    </span>
    <span class="mx-3">
        <a href="https://www.facebook.com"><i class="fab fa-facebook-f" aria-hidden="true"></i> facebook</a>
    </span>
</div>

<style>
    i {
        font-size:1.5rem;
        vertical-align:middle
    }

    a {
        color: #7a3d5e;
    }

        a:hover {
            color: #4b1a20;
        }

    h1 {
        color: #bb626d !important;
        font-weight: 100;
        font-size: 6rem;
    }

    h2 {
        color: #bb626d !important;
        font-size: 4rem;
        color: #843d3e;
    }

    .small-caps {
        font-variant:small-caps;
        font-size:1.5rem;
    }

    .newalbum {
        color:#999;
    }

    .main {
/*        box-shadow: #3339 0px 0px 20px;*/
    }

</style>

