<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>unknown motives</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleSheet.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UnknownMotives</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

    <div class="background">
        <div class="water">
        </div>
    </div>

    <style>
        .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-image: url("img/full.png");
            background-size: cover;
            background-position: center;
        }

            .background .water {
                position: absolute;
                background-image: url('img/holes.png');
                background-size: cover;
                top: -7px;
                left: -7px;
                height: 100%;
                width: 100%;
                filter: url("#turbulence");
                background-position: center;
            }

        .main {
            margin-top:15vh;
        }
    </style>

    <div class="container">
        <div class="position-fixed" style="max-width:92%;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <svg>
        <filter id="turbulence" x="0" y="0" width="100%" height="100%">
            <feTurbulence id="sea-filter" numOctaves="1" seed="2" baseFrequency="0.01 0.01"></feTurbulence>
            <feDisplacementMap scale="20" in="SourceGraphic"></feDisplacementMap>
        </filter>
        <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="60s" keyTimes="0;0.5;1" values="0.01 0.01;0.03 0.03;0.02 0.01" repeatCount="indefinite" />
    </svg>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - UnknownMotives - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
